body {background-color: #7a4234;}

/*
This first part is ripped from https://www.w3schools.com/css/css_navbar_horizontal.asp
 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

pre {
  display: block;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  color: bisque;
}

@media screen {
  pre {
    font-size: 20px;
  }
}

ul.list-box {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}


li.list-box-element {
  border-radius: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

td {
  float: left;
  text-align: left;
}

td a {
  background-color: #333;
  display: block;
  color: floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td a:hover {
  background-color: #111;
}

input {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  display: compact;
  color: floralwhite;
  text-decoration: none;
  background-color: #333333;
  border: #333333;
}

input:focus#query {
    outline: none;
    border: none;
}

input:hover[type=submit] {
  background-color: #444444;
}

img#image_card {
  margin: 10px;
  border-radius: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

a.page-topper {
  display: inline-flex;
  place-items: self-start;
  flex-direction: column;
  background-color: #582022;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
}

h2 {
  margin: 0;
}

img {
  width:100px;
  height:100px;
  background-size: 100px;
  background-image:url(../static/image/404.jpg);
}

/* https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table, th, td {
  display: compact;
  color: floralwhite;
  border: 1px solid black;
}