body {background-color: #7a4234;}

/*
Ripped from https://www.w3schools.com/css/css_navbar_horizontal.asp
 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

pre {
  color: bisque;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

input {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  display: compact;
  color: white;
  text-decoration: none;
  background-color: #333333;
  border: #333333;
}

input:focus#query {
    outline: none;
    border: none;
}

input:hover[type=submit] {
  background-color: #444444;
}

img#image_card {
  margin: 10px;
}
