body {background-color: #7a4234;}

* {
  color: bisque;
}

ul.header {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.track {
  float: left;
  clear: left;
  display: flex;
  width: 90%;
  margin: 0;
}

a.track {
  margin: 0 0 15px 0;
  padding: 0px;
  float: left;
  clear: left;
  display: flex;
  width: 100%;
  border-radius: 15px;
  height: 75px;
  horiz-align: center;
  background-color: #333;
}

li {
  float: left;
}

pre {
  display: block;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media screen {
  pre {
    font-size: 20px;
  }
}

ul.list-box {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}



li.list-box-element {
  border-radius: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

td {
  float: left;
  text-align: left;
}

td a {
  background-color: #333;
  display: block;
  color: floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


input {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  display: compact;
  text-decoration: none;
  background-color: #333333;
  border: #333333;
}

input:focus#query {
    outline: none;
    border: none;
}

input:hover[type=submit] {
  background-color: #582022;
}

img#image_card {
  margin: 10px;
  border-radius: 10%;
}

select {
  background: #333333;
  border-color: #582022;
}

.container {
  display: inline-block;
  flex-direction: column;
}

#wrapper {
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  float: left;
  display: flex;
}

.page-topper {
  display: flex;
  flex-direction: column;
  background-color: #582022;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
  height:auto;
  width:auto;
}

tr.overflow_list {
  display: inline-flex;
  overflow: scroll;
  width: 1600px;
  border: 1px solid black;
  padding: 10px 0 10px 0;

}

a:hover {
  background: #582022;
}


ul.track {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

img {
  background-size: 100px;
  aspect-ratio: 1;
  background-image:url(../static/image/404.jpg);
}



/* https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
