{% extends "site_wrapper.html" %}

{% block body %}

{% if artist_data %}
    {% set img_string = ("artist", artist_data[0]|string)|join("/") %}
    {% include "image_card.html" with context %}
    <h2>{{ artist_data[1] }}</h2>

    <h4>
    Albums
    </h4>

    <ul>
        {% for album_data in artist_albums %}
                <li>
                    {% with data = album_data %}
                        <a href="{{ url_for("Album.album_lookup", id = data[0]) }}">{{ data[1] }}</a>
                        {% include "image_card.html" with context %}
                    {% endwith %}
                </li>
        {% endfor %}
    </ul>


{% else %}
    FAILED TO GET ARTIST DATA!
{% endif %}

{% endblock %}