<!doctype html>
<head>
    <title>
        Wizard Jams
    </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <ul>
        <li><a href="{{ url_for('Home.home')    }}">Home</a></li>
        <li><a href="{{ url_for('Insert.insert')}}">Insert Data</a></li>
        <li><a href="{{ url_for('Linker.linker')}}">Insert Table Link</a></li>

        <li><a href="{{ url_for('Search.search') }}">Search</a></li>
        <li><a href="{{ url_for('Artist.artists')}}">Artists</a></li>
        <li><a href="{{ url_for('Album.albums')  }}">Albums</a></li>
        <li><a href="{{ url_for('Track.tracks')  }}">Tracks</a></li>
    </ul>

    {% block content %}
    {% endblock %}
</body>